# Ignore tout par défaut, le dépôt ne couvre que thème/plugin
/*
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/plugins/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# OS / éditeur
.DS_Store
.vscode/